table {
    /* border: 2px solid black; */
    width:400px;
    height:300px;
    border-radius:10px;
    text-align:center;
    border-collapse: collapse;
    margin: auto;
    margin-top: 150px;
}
.result {
    /* border: 1px solid black; */
    padding: 10px;
    background-color: black;
    color:white;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    height: 60px;
    font-size: 25pt;
    text-align: end;
}
button{
    border: 1px solid black;
    background-color:lightgray;
    font-weight:bold;
    font-size:16pt;
    width: 100px ;
    height: 60px;
    border-radius: 3px;
    
}
.caculate{
    background-color: green;
    color: white;
}
.plus{
    background-color: orangered;
    color: white;
}